/* ステータスラベル status label */
.amStatus0000 {
    color: #000000;
    background-color: #BDB4FF; }
  
  .amStatus2000 {
    color: #000000;
    background-color: #BDB4FF; }
  
  .amStatus2001 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .amStatus2003 {
    color: #000000;
    background-color: #EFEC65; }
  
  .amStatus2100 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .amStatus2400 {
    color: #000000;
    background-color: #E6E6E6; }
  
  .amStatus2600 {
    color: #000000;
    background-color: #CEA6D7; }
  
  .amStatus3100 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .amStatus3200 {
    color: #000000;
    background-color: #B5D7B7; }
  
  .amStatus3200N {
    color: #000000;
    background-color: #BDB4FF; }
  
  .amStatus3400 {
    color: #000000;
    background-color: #E6E6E6; }
  
  .amStatus3500 {
    color: #000000;
    background-color: #E6E6E6; }
  
  .amStatus3600 {
    color: #000000;
    background-color: #CEA6D7; }
  
  .amStatus3600P {
    color: #000000;
    background-color: #BDD5EB; }
  
  .amStatus3600N {
    color: #000000;
    background-color: #BDB4FF; }
  
  .amStatus3700 {
    color: #000000;
    background-color: #FFCCCC; }
  
  .amStatus4000 {
    color: #000000;
    background-color: #FFE094; }
  
  .amStatus4100 {
    color: #000000;
    background-color: #B5D7B7; }
  
  .amStatus4101 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .amStatus4103 {
    color: #000000;
    background-color: #EFEC65; }
  
  .amStatus4400 {
    color: #000000;
    background-color: #E6E6E6; }
  
  .amStatus5000 {
    color: #000000;
    background-color: #FFE094; }
  
  .amStatus5100 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .amStatus5101 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .amStatus5103 {
    color: #000000;
    background-color: #EFEC65; }
  
  .amStatus5200 {
    color: #000000;
    background-color: #B5D7B7; }
  
  .amStatus5201 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .amStatus5203 {
    color: #000000;
    background-color: #EFEC65; }
  
  .amStatus5210 {
    color: #000000;
    background-color: #CCCCCC; }
  
  .amStatus5300 {
    color: #000000;
    background-color: #FFCCCC; }
  
  .amStatus5310 {
    color: #000000;
    background-color: #FFCCCC; }
  
  .amStatus5500 {
    color: #000000;
    background-color: #E6E6E6; }
  
  .amStatus7600 {
    color: #000000;
    background-color: #B5D7B7; }
  
  .amStatus7601 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .amStatus7603 {
    color: #000000;
    background-color: #EFEC65; }
  
  .amStatus9000 {
    color: #000000;
    background-color: #B5D7B7; }
  
  .amStatus9001 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .amStatus9003 {
    color: #000000;
    background-color: #EFEC65; }
  
  .amStatus9100 {
    color: #000000;
    background-color: #B5D7B7; }
  
  .amStatus9101 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .amStatus9103 {
    color: #000000;
    background-color: #EFEC65; }
  
  .amStatus9200 {
    color: #000000;
    background-color: #B5D7B7; }
  
  .amStatus9201 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .amStatus9203 {
    color: #000000;
    background-color: #EFEC65; }
  
  .bmStatus1000 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .bmStatus1100 {
    color: #000000;
    background-color: #B5D7B7; }
  
  .bmStatus1400 {
    color: #000000;
    background-color: #FFCCCC; }
  
  .bmStatus1600 {
    color: #000000;
    background-color: #CEA6D7; }
  
  .rmStatus2000 {
    color: #000000;
    background-color: #BDB4FF; }
  
  .rmStatus2200 {
    color: #000000;
    background-color: #BDB4FF; }
  
  .rmStatus2100 {
    color: #000000;
    background-color: #B5D7B7; }
  
  .rmStatus2300 {
    color: #000000;
    background-color: #B5D7B7; }
  
  .rmStatus2101 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .rmStatus2301 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .rmStatus2102 {
    color: #000000;
    background-color: #FFE094; }
  
  .rmStatus2103 {
    color: #000000;
    background-color: #EFEC65; }
  
  .rmStatus2303 {
    color: #000000;
    background-color: #EFEC65; }
  
  .rmStatus2500 {
    color: #000000;
    background-color: #E6E6E6; }
  
  .rmStatus2600 {
    color: #000000;
    background-color: #CEA6D7; }
  
  .rmStatus2601 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .rmStatus2602 {
    color: #000000;
    background-color: #FFE094; }
  
  .rmStatus2603 {
    color: #000000;
    background-color: #EFEC65; }
  
  .rmStatus2700 {
    color: #000000;
    background-color: #EFEC65; }
  
  .rmStatus2701 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .rmStatus2800 {
    color: #000000;
    background-color: #EFEC65; }
  
  .rmStatus2801 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .rmStatus3700 {
    color: #000000;
    background-color: #EFEC65; }
  
  .rmStatus3701 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .rmStatus3000 {
    color: #000000;
    background-color: #BDB4FF; }
  
  .rmStatus3100 {
    color: #000000;
    background-color: #B5D7B7; }
  
  .rmStatus3101 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .rmStatus3102 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .rmStatus3103 {
    color: #000000;
    background-color: #EFEC65; }
  
  .rmStatus3500 {
    color: #000000;
    background-color: #E6E6E6; }
  
  .rmStatus3600 {
    color: #000000;
    background-color: #CEA6D7; }
  
  .rmStatus4000 {
    color: #000000;
    background-color: #FFE094; }
  
  .rmStatus4001 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .rmStatus4003 {
    color: #000000;
    background-color: #EFEC65; }
  
  .rmStatus4100 {
    color: #000000;
    background-color: #B5D7B7; }
  
  .rmStatus4120 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .rmStatus4200 {
    color: #000000;
    background-color: #B5D7B7; }
  
  .rmStatus4300 {
    color: #000000;
    background-color: #FFCCCC; }
  
  .rmStatus4310 {
    color: #000000;
    background-color: #FFCCCC; }
  
  .rmStatus4320 {
    color: #000000;
    background-color: #FFCCCC; }
  
  .rmStatus4400 {
    color: #000000;
    background-color: #E6E6E6; }
  
  .rmStatus4500 {
    color: #000000;
    background-color: #E6E6E6; }
  
  .rmStatus4600 {
    color: #000000;
    background-color: #CEA6D7; }
  
  .rmStatus9100 {
    color: #000000;
    background-color: #B5D7B7; }
  
  .rmStatus9101 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .rmStatus9103 {
    color: #000000;
    background-color: #EFEC65; }
  
  .dcmStatus1000 {
    color: #000000;
    background-color: #B5D7B7; }
  
  .dcmStatus1001 {
    color: #000000;
    background-color: #BDD5EB; }
  
  .dcmStatus1003 {
    color: #000000;
    background-color: #EFEC65; }
  
  .dmStatus3000 {
    color: #000000;
    background-color: #B5D7B7; }
  
  .dmStatus3100 {
    color: #000000;
    background-color: #B5D7B7; }
  
  .dmStatus3500 {
    color: #000000;
    background-color: #FFCCCC; }
  
  .umActStatus1000 {
    color: #ffffff;
    background-color: #979797; }
  
  .umActStatus1100 {
    color: #ffffff;
    background-color: #979797; }
  
  .umActStatus2000 {
    color: #ffffff;
    background-color: #979797; }
  
  .umActStatus2100 {
    color: #ffffff;
    background-color: #979797; }
  
  .umActStatus3000 {
    color: #ffffff;
    background-color: #979797; }
  
  .umActStatus3100 {
    color: #ffffff;
    background-color: #979797; }
  
  .umActStatus3110 {
    color: #ffffff;
    background-color: #979797; }
  
  .umActStatus4000 {
    color: #ffffff;
    background-color: #979797; }
  
  .umActStatus4010 {
    color: #ffffff;
    background-color: #979797; }
  
  .umActStatus4100 {
    color: #ffffff;
    background-color: #979797; }
  
  .umActStatus4110 {
    color: #ffffff;
    background-color: #979797; }
  
  .umActStatus4200 {
    color: #ffffff;
    background-color: #979797; }
  
  .umActStatus4210 {
    color: #ffffff;
    background-color: #979797; }
  
  .umActStatus8000 {
    color: #ffffff;
    background-color: #979797; }
  
  .umActStatus8100 {
    color: #ffffff;
    background-color: #979797; }
  
  .rapStatus3100 {
    /*in progress*/
    color: #000;
    background-color: #BDD5EB; }
  
  .rapStatus3200 {
    color: #000;
    background-color: #ffed6c; }
  
  .rapStatus3300 {
    /* Deploy*/
    color: #000;
    background-color: #B5D7B7; }
  
  .rapStatus3500 {
    /* Deploy Cancelled*/
    color: #000;
    background-color: #FFCCCC; }
  
  .rapStatus3600 {
    /*Closed*/
    color: #000;
    background-color: #CEA6D7; }
  
  .rapStatus4100 {
    color: #000;
    background-color: #FFFFFF;
    border: 1px solid #000000; }
  
  .rapStatus4200 {
    color: #000;
    background-color: #B5D7B7; }
  
  .rapStatus4500 {
    color: #000;
    background-color: #E6E6E6; }
  
  .rapStatus4600 {
    color: #000;
    background-color: #E6E6E6; }
  
  .rapStatus4700 {
    color: #000;
    background-color: #FFCCCC; }
  
  .rapStatus5100 {
    color: #000;
    background-color: #BDD5EB; }
  
  .rapStatus5200 {
    color: #000;
    background-color: #63C4F2; }
  
  .rapStatus5300 {
    color: #000;
    background-color: #D6FFE0; }
  
  .rapStatus5400 {
    color: #000;
    background-color: #CEA6D7; }
  
  .rapStatus5500 {
    color: #000;
    background-color: #FFCCCC; }
  
  .rapStatus5600 {
    color: #000;
    background-color: #FFCCCC; }
  
  .rapStatus5700 {
    color: #000;
    background-color: #79B2D3; }
  
  .rfcStatus6200 {
    color: #000000;
    background-color: #CEA6D7; }
  
  .rfcStatus6100 {
    color: #000000;
    background-color: #BDD5EB; }
  
