@import '@servicenow/sass-kit/host';

.scroll {
    overflow: auto;
    height: 180px;
    min-width: 180px;
}
.item-content {
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 180px;
    padding: 5px;


}
.cusor-pointer {
    cursor: pointer;
}
.margin-x {
    margin-left: 5px;
    margin-right: 5px;
}
.dialog-content {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.right-content-item {
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-width: 180px;
    justify-content: space-between;
    align-items: center;

}

.select-background {
    background-color: #ccc;
}